.cuerpoRegistro {
    background-color: antiquewhite;
    margin-top: 20px;
    padding: 30px;
}

.tituloSubirTupper {
    font-size: 30px;
    text-align: center;
}

.boton{
background-Color: '#EE5D6E';
border: "none";
color: "#E6F8F7";
font-Family: "Londrina Solid " ;

}