.prueba{
    background-color:rgb(249,208,127,0.2);
}


.foto {
      height: 50%;
      width: 100%;
      object-fit: cover;
      object-position: center center;

} 


.box{
    display: flex;
    flex-flow: column wrap;
    width: 100vw;
    max-height: 100vh;
    justify-content: center;
    align-items: center;
    
  }
  .foto{
    width: 300px;
    height: 300px;
    background: #CCC;
    overflow: hidden;
  }

  .foto img{
    width: 100%;
    height: auto;
  }
  @supports(object-fit: cover){
      .foto img{
        height: 100%;
        object-fit: cover;
        object-position: center center;
      }
  }

  .info {

    font-family: Trispace, sans-serif;
    background-color: antiquewhite;
    width: 300px;
 
  } 

  .font-bold{
      font-weight: bold;
  } 
  
 .title{
    margin-Top: 30px;
    font-Weight: bold; 
    font-Size: 20px;
    
  }

  .description{
    margin: 10px;
    font-Size: 13px; 
    text-align: justify;
  }

  .usuario {
    text-Align: right;
    margin: 10px;
    margin:10px; 
    font-Size: 13px;
    scroll-padding-block:"30px"
  }